</html>
    </body>

             <h1> This is the Test Server </h1>
             <% if node['platform']=='centos' -%>
                <h1> This is Centos Machine</h1>
             <% else %>
                 <h1> This is ubuntu machine !!!! <%= node['test'] %></h1>
       
             <h2> The Ip address of this server is <%= node['ipaddress'] %> </h2>
             <h2> The Host for this server is <%= node['hostname'] %> </h2>
    </body>

</html>
